{% extends 'AppCoder\templates\AppCoder\base1.html' %}

{%load static %}

{% block ContenidoDinamico1%}

<h1 class="fw-bolder">Drama y no se cualquier gilada</h1>

{% endblock %}


{% block ContenidoDinamico2%}

<a href="#!"><img class="card-img-top" src="https://e.rpp-noticias.io/normal/2022/01/06/584058_1199373.jpg" alt="..." /></a>

{% endblock  %}


{% block ContenidoDinamico3%}

<h2 class="card-title">¡Dramas!</h2>
<p class="card-text">En este apartado se encuentra todo tipo bla bla</p>

{% endblock %}

{% block ContenidoDinamico4%}
<li><a href="{% url 'AgregarDrama' %}">Agregar pelicula</a></li>
{% endblock%}

{% block ContenidoDinamico5%}

<p>
    <form action="/AppCoder/buscar_drama/" method="GET">

        <input type="text" name="titulo" id="titulo">

        <input type="submit" value="Buscar">
</p>

{% endblock %}


{% block ContenidoDinamico6%}
<!--  ACA IRIAN LAS TARJETAS CON ALGUNOS POSTS DE PELICULAS  -->
{% endblock %}